@model List<MarketplaceServices.Models.Categories>




<nav class="navbar navbar-expand-lg navbar-light bg-white osahan-nav-mid px-0 border-top shadow-sm">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                @foreach (var item in Model)
                {


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @item.CategoryName
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                            @foreach (var i in item.subCategories)
                            {
                                <a class="dropdown-item" href="index.html">@i.SubCategoryName</a>
                            }

                        </div>



                    </li>
                }
            </ul>
        </div>
      
    </div>
</nav>