@model MarketplaceServices.Models.Services;

@*<div class="container">*@
<h1>@ViewData["Title"]</h1>

@{
    var result = ViewBag.subCat;
}





@*<div class="third-menu border-top">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-9 left">
                    <ul>
                        <li class="nav-overview selected"><a href="#overview">Overview</a></li>
                        <li class="nav-description"><a href="#description">Description</a></li>
                        <li class="nav-aboutSeller"><a href="#aboutSeller">About The Seller</a></li>
                        <li class="nav-recommendations"><a href="#recommendations">Recommendations</a></li>
                        <li class="nav-faq"><a href="#faq">FAQ</a></li>
                        <li class="nav-reviews"><a href="#reviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
<div class="">
    <!--progress bar-->
    <!--form panels-->
    <div class="row">
        <div class="col-12 col-lg-8 m-auto">
            <form method="post" class="" enctype="multipart/form-data">
                <!--single form panel-->
                <div class=" shadow p-4 rounded bg-white js-active m-2" data-animation="scaleIn">
                    <h3 class="">OverView</h3>
                    <div class="">
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-6">
                                <input class=" form-control" required asp-for="Title" type="text" placeholder="TitleName" />
                            </div>

                        </div>
                        <div class="form-row mt-4">
                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                @*<select class="multisteps-form__select form-control">
                                        <option selected="selected">Category</option>
                                        <option>...</option>
                                    </select>*@

                                <select class="form-control custom-select  " required="required" asp-for="@Model.SubCategoryId" id="subcategory" asp-items="@(new SelectList(result,"Id","SubCategoryName"))">
                                    <option disabled selected>- SubCategory -</option>
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
                <!--single form panel-->
                <div class=" shadow p-4 rounded bg-white m-2" data-animation="scaleIn">
                    <h3 class="">Pricing</h3>
                    <div class="">
                        <div class="form-row mt-4">
                            <div class="col">
                                <input class=" form-control" required asp-for="Price" type="text" placeholder="Price" />
                            </div>
                        </div>

                    </div>
                </div>
                <!--single form panel-->
                <div class=" shadow p-4 rounded bg-white m-2" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Description</h3>
                    <div class="multisteps-form__content">

                        <div class="form-row mt-4">
                            <div class="col">
                                <textarea class="multisteps-form__textarea form-control summernote" asp-for="Description" required></textarea>

                            </div>
                        </div>

                    </div>
                </div>
                <!--single form panel-->
                <div class=" shadow p-4 rounded bg-white m-2" data-animation="scaleIn">
                    <h3 class="">Catalogue</h3>
                    <div class="">
                        <div class="form-group">
                            <label asp-for="Photos">Adding Catalogue to your service</label>
                            <input class="imageuploade" type="file" name="photos" required accept="image/*" multiple="multiple" />
                        </div>


                    </div>
                </div>

                <!--single form panel-->
                <div class="shadow p-4 rounded bg-white m-2" data-animation="scaleIn">
                    <h3 class="">Publish</h3>
                    <div class="">
                        <p>
                           You finisher All Steps Please click publish if you are ready to publish your gigs!
                        </p>
                        <div class="button-row d-flex mt-4">

                            <button class="btn btn-primary ml-auto js-btn-next" type="submit" asp-action="Create" title="Publish">Publish</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





