@model MarketplaceServices.ViewModel.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
 

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        @foreach (var item in Model.categories)
        {
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @item.CategoryName
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var i in item.subCategories)
                {
                    <a class="dropdown-item" href="#">@i.SubCategoryName</a>
                }
            </div>
        </li>
        }
           
        </ul>
</div>
  

</nav>
