p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
/*Header Bottom Menu*/
.header-bottom {
    background: #183153;
    /*margin-bottom: 20px;*/
}

.scroll {
    overflow-x: auto;
    /*overflow-y: hidden;*/
    white-space: nowrap;
  -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar{
    display:none;
}

.hb-menu > nav > ul {
    position: relative;
}

.hb-menu nav > ul > li {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    transition: all 0.3s ease-in-out;
}

    .hb-menu nav > ul > li > a {
        display: flex;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 35px;
        font-weight: 500;
        padding: 8px 0;
    }

.hb-menu-2 nav > ul > li > a {
    display: flex;
    color: #242424;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
    padding: 8px 0;
}

.hb-menu nav > ul > li:hover > a,
.hb-menu nav > ul > li:hover > a::after {
    color: #ffffff;
}

.hb-menu nav > ul > li > a::after {
    content: "\f107";
    position: absolute;
    top: 8px;
    right: 15px;
    font-family: fontawesome;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    color: white;
}

.hb-menu nav > ul > li:nth-child(n+5) > a::after {
    content: none;
}

.hb-menu nav > ul > li:hover a::after {
    transform: rotate(180deg);
}

.ht-menu > li .ht-currency-trigger span::after,
.ht-menu > li .ht-language-trigger span::after,
.hm-minicart-trigger .item-text::after {
    content: "\f106";
    float: right;
    font-weight: 400;
    font-size: 18px;
    font-family: fontawesome;
    color: #242424;
    transition: all 0.3s ease-in-out;
}

.ht-menu > li:hover .ht-currency-trigger span,
.ht-menu > li:hover .ht-currency-trigger span::after,
.ht-menu > li:hover .ht-language-trigger span,
.ht-menu > li:hover .ht-language-trigger span::after {
    color: #fed700;
}

.ht-menu > li .ht-setting-trigger span::after,
.ht-menu > li .ht-currency-trigger span::after,
.ht-menu > li .ht-language-trigger span::after,
.hm-minicart-trigger .item-text::after {
    content: "\f107";
    font-size: 14px;
    color: #a4a4a4;
    margin-left: 5px;
    font-family: fontawesome;
}

.hm-minicart-trigger .item-text::after {
    color: #fff;
}

.ht-menu > li .ht-setting-trigger.is-active span::after,
.ht-menu > li .ht-currency-trigger.is-active span::after,
.ht-menu > li .ht-language-trigger.is-active span::after,
.hm-minicart-trigger.is-active .item-text::after {
    transform: rotate(-180deg);
}

.megamenu {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 15px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    z-index: 0;
    position: absolute;
    left: 100%;
    right: auto;
    top: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

    .megamenu > li {
        padding: 0 20px;
        min-width: 250px;
        border-right: 1px solid #ebebeb;
    }

        .megamenu > li:first-child {
            padding-left: 5px;
        }

        .megamenu > li:last-child, .megamenu-static-holder .hb-megamenu > li:last-child {
            border-right: none;
        }

        .megamenu > li > a {
            padding: 8px 0 5px;
            display: block;
            margin-bottom: 10px;
            color: #1e1e1e;
            font-weight: 500;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
        }

.megamenu-static-holder ul li ul li.active a,
.dropdown-holder ul li ul li.active a {
    color: #fed700;
}

.megamenu-holder .megamenu > li > a:hover,
.megamenu-holder .megamenu li ul li a:hover,
.megamenu-static-holder .megamenu > li > a:hover,
.megamenu-static-holder .megamenu li ul li a:hover {
    color: #fed700;
}

.megamenu-holder .megamenu li ul li a, .megamenu-static-holder .megamenu li ul li a {
    color: #7e7e7e;
    font-size: 14px;
    padding: 7px 0;
    display: block
}

.megamenu-holder .megamenu.is-visible, .megamenu-static-holder .megamenu.is-visible {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    z-index: 1;
}

.megamenu-holder:hover > .megamenu, .megamenu-static-holder:hover > .megamenu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
/*Header Bottom Megamenu*/
.hb-menu nav > ul > li:nth-child(4) {
    margin-right: -20px;
}

.megamenu-static-holder {
    position: static !important;
}

    .megamenu-static-holder .hb-megamenu, .megamenu-holder .hb-megamenu {
        background-image: url(images/menu/li-bg-menu.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        top: auto;
        left: 0;
        z-index: 99;
        width: 100%;
    }

.megamenu-holder .hb-megamenu {
    width: auto;
    background-size: auto;
    background-position: inherit;
}

.megamenu-static-holder .hb-megamenu > li {
    width: 25%;
    border-right: 1px solid #ebebeb;
    padding: 25px;
}

    .megamenu-static-holder .hb-megamenu > li:first-child {
        padding-left: 10px;
    }

.hb-menu nav > ul > .megamenu-static-holder > a::after {
    position: static;
    margin: -1px 0 0 10px;
}
/*Sticky*/
.header-sticky.sticky {
    background: rgba(254,215,0,.8);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    z-index: 1049;
}

.sticky {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
}
/*Header Bottom Dropdown Menu*/
.hb-menu nav > ul > li > ul.hb-dropdown {
    background: #ffffff;
    opacity: 0;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    width: 220px;
    z-index: 99;
    border-radius: 3px;
}

.hb-menu nav ul > li:hover > ul.hb-dropdown {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    top: 100%;
}

.hb-menu nav ul > li > ul.hb-dropdown > li {
    position: relative;
    transition: all 0.3s ease-in-out;
}

    .hb-menu nav ul > li > ul.hb-dropdown > li > a {
        color: #242424;
        display: block;
        padding: 6px 20px;
        transition: all 0.3s ease-in-out 0s;
    }

    .hb-menu nav ul > li > ul.hb-dropdown > li.active > a {
        color: #fed700;
    }

    .hb-menu nav ul > li > ul.hb-dropdown > li > a:hover {
        color: #fed700;
    }
/*Header Bottom Sub Dropdown Menu*/
.hb-menu nav > ul > li > ul > li > ul.hb-sub-dropdown {
    left: 100%;
    position: absolute;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    top: 100%;
    transition: all 0.3s ease-in-out;
}

.hb-menu nav > ul > li > ul > li:hover > ul.hb-sub-dropdown {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.hb-menu nav ul > li > ul.hb-dropdown > li.sub-dropdown-holder::after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    right: 25px;
    top: 5px;
    transition: all 0.3s ease-in-out;
    color: #242424;
}

.hb-menu nav ul > li > ul.hb-dropdown > li.sub-dropdown-holder:hover::after {
    transform: rotate(-90deg);
    color: #fed700;
}

.hb-menu nav ul > li > ul.hb-dropdown > li.sub-dropdown-holder > ul > li > a {
    display: block;
    padding: 6px 20px;
}

.hb-menu nav ul > li > ul.hb-dropdown > li.sub-dropdown-holder:hover > a {
    color: #fed700;
}



/* Latest Produtcs */

.latest-products {
    margin-top: 100px;
}

    .latest-products .section-heading a {
        float: right;
        margin-top: -35px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #f33f3f;
    }

.product-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

    .product-item .down-content {
        padding: 30px;
        position: relative;
    }

    .product-item img {
        width: 100%;
        overflow: hidden;
    }

    .product-item .down-content h4 {
        font-size: 17px;
        color: #1a6692;
        margin-bottom: 20px;
    }

    .product-item .down-content h6 {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 18px;
        color: #121212;
    }

    .product-item .down-content p {
        margin-bottom: 20px;
    }

    .product-item .down-content ul li {
        display: inline-block;
    }

        .product-item .down-content ul li i {
            color: #f33f3f;
            font-size: 14px;
        }

    .product-item .down-content span {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 13px;
        color: #f33f3f;
        font-weight: 500;
    }
    /*nnnnnnnnnnnnnnnnnnnnnnnnnn*/


.hm-wishlist {
    float: left;
    margin-right: 25px;
    position: relative;
}

    .hm-wishlist > a {
        border: 1px solid #e1e1e1;
        font-size: 20px;
        color: #242424;
        width: 45px;
        text-align: center;
        height: 45px;
        line-height: 45px;
        display: block;
        transition: all 0.3s ease-in-out;
    }

        .hm-wishlist > a:hover {
            border-color: #fed700;
            color: #fed700;
        }



.cart-item-count {
    position: absolute;
    top: -25px;
    left: -60px;
    display: block;
    overflow: hidden;
    min-width: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    background: #fed700;
    text-align: center;
    border-radius: 100%;
}

.wishlist-item-count {
    top: -10px;
    left: -10px;
}

.hm-searchbox {
    display: flex;
    position: relative;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    min-width: 638px;
    height: 45px;
    float: left;
}

    .hm-searchbox .nice-select.select-search-category {
        width: auto;
        line-height: 43px;
        height: 43px;
        margin: 0;
        border: 0;
        padding: 0 28px 0 25px;
        color: #242424;
        font-size: 13px;
        border-radius: 15px 0 0 15px;
        font-family: 'Rubik',sans-serif;
        font-weight: 400;
        position: relative;
    }

.select-search-category ul.list {
    height: 440px;
    overflow-y: auto;
    overscroll-behavior-x: none;
}

.hm-searchbox .current::after {
    content: "";
    position: absolute;
    display: block;
    height: 22px;
    width: 1px;
    background: #e1e1e1;
    top: 10px;
    right: -10px;
    font-size: 13px;
}

.hm-searchbox .nice-select.select-search-category::before {
    right: 30px;
    top: 25px;
    color: #7e7e7e;
}

.hm-searchbox input {
    font-size: 13px;
    color: #a5a5a5;
    height: 45px;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0 60px 0 33px;
}
