

.stars-container{
    width:300px;
    padding:20px 3px;
    display:flex;
}

.Rating-stars input {
    display: none;
}

/* flip the order so we can use the + and ~ combinators */
.Rating-stars label {
    float: right;
    transition: 0.4s ease-out;
}


    .Rating-stars input ~ label:hover,
    .Rating-stars input ~ label:hover ~ label {
        color: gold;
    }

.Rating-stars input:checked ~ label {
    color: gold;
}

.Rating-stars input#rating-5:checked ~ label {
    color: gold;
    text-shadow: 0 0 20px #952;
}


