@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        @*<li class="hm-wishlist">
            <a href="wishlist.html">
                <span class="cart-item-count wishlist-item-count">0</span>
                <i class="fa fa-heart-o"></i>
            </a>
        </li>*@

        <li>
            <form>
                <a asp-action="Index" asp-controller="chat" type="submit">
                    chat
                   <i class="fa-comment"></i>
                </a>
            </form>
        </li>

        <div class="dropdown">
            <a class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Profile">Profile</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Services">Services</a>
                <form id="logoutForm" class="form-inline dropdown-item " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark p-0">Logout</button>
                </form>

            </div>


        </div>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Join</a>
        </li>
    }
</ul>
