@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-10">

            <div class="box-body p-3">
                <form  method="post" enctype="multipart/form-data">
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="nameLabel" class="form-label">
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="Email" placeholder="Enter your email" aria-label="Enter your email" required>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="usernameLabel" class="form-label">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="PasswordHash" placeholder="Enter your password" required>
                                </div>
                            </div>
                        </div>
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="nameLabel" class="form-label">
                                    FirstName
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="FirstName" placeholder="Enter your name" aria-label="Enter your name" required>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="usernameLabel" class="form-label">
                                    LastName
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="LastName" placeholder="Enter your username" required>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="locationLabel" class="form-label">
                                    Location
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Address" placeholder="Enter your location" required>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="locationLabel" class="form-label">
                                    Phone Number
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="PhoneNumber" placeholder="Enter your location" required aria-describedby="locationLabel">
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="Profession" class="form-label">
                                    Profession
                                    <span class="text-danger"></span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Profession" placeholder="Enter your organization name" required>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="" class="form-label">
                                    Profile Pictures
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <label class=" btn btn-info m-0">
                                        <i class="mdi mdi-image"></i> Choose file
                                        <input class="imageuploade d-none" type="file" name="img" accept="image/*" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 mb-2">
                            <div class="">
                                <label id="Username" class="form-label">
                                    Username
                                    <span class="text-danger"></span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Username" placeholder="Enter your organization username" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" asp-action="CreateAdmin" asp-controller="User" class="btn btn-primary">Create New Admin</button>
                    <a asp-action="Index" class="btn btn-dark ">Back to List</a>
                </form>
            </div>
          
        </div>
    </div>
</div>