@model List<MarketplaceServices.Models.Categories>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Bordered Table</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>CategoryName</th>
                                            <th>Sous-CatgoryName</th>
                                            <th style="width: 40px">add sous-Catgory</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td></td>

                                                <td>  @item.CategoryName</td>

                                                <td>
                                                    @foreach (var i in item.subCategories)
                                                    {
                                                        <Ul>
                                                            <li>
                                                                @i.SubCategoryName
                                                            </li>
                                                        </Ul>


                                                    }
                                                </td>

                                                <td>
                                                    <form method="post" id="form" class="d-flex flex-row justify-content-between">
                                                       
                                                            <input class="form-control" name="SubCategoryName" />
                                                            <input hidden name="CatgoriesId" value="@item.Id" />
                                                        
                                                       
                                                        <input type="submit" class="btn btn-info" asp-action="Edit" asp-controller="Category" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            @*<div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>*@
                        </div>

<script>
    function AddSubCategory() {
        var form = document.getElementById("form");
        if (form.style.display === "none") {

            form.style.display = "block";
        } else {
            form.style.display = "none";
        }

    }
</script>

